$comment-bg:$white;
.comment-section{
    // padding: 30px 0;
    // background-color:$comment-bg;

    @include stayleSection(30px, 30px, $comment-bg);

    .comment-list{
        list-style: none;
        padding: 0;

        .comment-item{
            display: flex;

            .comment-img{
                flex: 0 0 50px;

                img{
                    @include radius(50%);
                }
            }//comment img

            .comment-body{
                padding-left: 15px;

            }
            //  body end
        }
        //  item end
    }
    // list end
}
//section end

@media(min-width:768px){
    .comment-section{
        .comment-list{
            .comment-item{
                .comment-img{
                    flex: 0 0 90px !important;
                }
            }
            // item end
        }
        //list end
    }
    // section end
}
// media end